<section>
    <table>
        <tr>
            <th colspan="100%">
                Characteristics
            </th>
        </tr>
        <tr>
            {{#each config.characteristics as |name type|}}
            {{#with (lookup ../data.data.characteristics type) as |characteristic|}}
            <td class="characteristic-name">
                {{ localize name }}
            </td>
            {{/with}}
            {{/each}}
        </tr>
        <tr>
            {{#each config.characteristics as |name type|}}
            {{#with (lookup ../data.data.characteristics type) as |characteristic|}}
            <td>
                <div class="relative">
                    <input class="characteristic-box" name="data.characteristics.{{type}}.value" type="number"
                        value="{{characteristic.value}}" data-dtype="Number" />
                    <div class="absolute">
                        {{#if characteristic.bonus}}
                        <input class="characteristic-bonus-box" name="data.characteristics.{{type}}.bonus" type="number"
                            value="{{characteristic.bonus}}" data-dtype="Number" />
                        {{/if}}
                    </div>
                    <div class="characteristic-roll-container">
                        <a class="roll-characteristic" title="Roll {{ localize name }}"
                            data-action-value="{{characteristic.value}}" data-action-name="{{ localize name }}">
                            <i class="fas fa-dice"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{/with}}
            {{/each}}
        </tr>
    </table>
</section>