<section>
    <table>
        <tr>
            <th colspan="100%">
                Characteristics
            </th>
        </tr>
        <tr>
            {{#each config.characteristics as |name type|}}
            {{#with (lookup ../data.data.characteristics type) as |characteristic|}}
            <td class="characteristic-name">
                {{ localize name }}
            </td>
            {{/with}}
            {{/each}}
        </tr>
        <tr>
            {{#each config.characteristics as |name type|}}
            {{#with (lookup ../data.data.characteristics type) as |characteristic|}}
            <td>
                <div class="relative-characteristic-container">
                    <input class="characteristic-box" name="data.characteristics.{{type}}.value" type="number"
                        value="{{characteristic.value}}" data-dtype="Number" />
                    {{#if characteristic.bonus}}
                    <div class="absolute-bonus-container">
                        <input class="characteristic-bonus-box" name="data.characteristics.{{type}}.bonus" type="number"
                            value="{{characteristic.bonus}}" data-dtype="Number" />
                    </div>
                    {{/if}}
                    <div class="characteristic-roll-container">
                        <a class="roll-characteristic" title="Roll {{ localize name }}"
                            data-action-value="{{characteristic.value}}" data-action-name="{{ localize name }}">
                            <i class="fas fa-dice"></i>
                        </a>
                    </div>
                </div>
            </td>
            {{/with}}
            {{/each}}
        </tr>
    </table>
    <table>
        <tr>
            <th class="important-stat-detail">
                Fate Points
            </th>
            <th class="important-stat-detail">
                Fatigue
            </th>
            <th class="important-stat-detail">
                Insanity
            </th>
            <th class="important-stat-detail">
                Corruption
            </th>
            <th class="important-stat-detail">
                Renown
            </th>
            <th class="important-stat-detail">
                Rank
            </th>
            <th class="important-stat-detail">
                XP to Spend
            </th>
            <th class="important-stat-detail">
                Total XP Spent
            </th>
        </tr>
        <tr>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.fatePoints.value" type="number"
                    value="{{actor.data.data.fatePoints.value}}" data-dtype="Number" />
                /
                <input class="important-stat-value-box" name="data.fatePoints.max" type="number"
                    value="{{actor.data.data.fatePoints.max}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.injury.fatigue.value" type="number"
                    value="{{actor.data.data.injury.fatigue.value}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.insanityPoints.value" type="number"
                    value="{{actor.data.data.insanityPoints.value}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.injury.corruptionPoints.value" type="number"
                    value="{{actor.data.data.corruptionPoints.value}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.marineDetails.renown" type="number"
                    value="{{actor.data.data.marineDetails.renown}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="important-stat-value-box" name="data.marineDetails.rank" type="number"
                    value="{{actor.data.data.marineDetails.rank}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="experience-value-box" name="data.marineDetails.xpToSpend" type="number"
                    value="{{actor.data.data.marineDetails.xpToSpend}}" data-dtype="Number" />
            </td>
            <td class="important-stat-detail">
                <input class="experience-value-box" name="data.marineDetails.totalXpSpent" type="number"
                    value="{{actor.data.data.marineDetails.totalXpSpent}}" data-dtype="Number" />
            </td>
        </tr>
    </table>
</section>