<img class="power-armour" src="systems/deathwatch/ui/powerArmour.png" alt="Power Armour Image">
<div class="armour-head-container">
    <div class="armour-component-name">
        head
    </div>
    <div class="armour-component-value">
        <input class="armour-component-value-box" name="data.armour.head.armourPoints" type="number"
            value="{{actor.data.data.armour.head.armourPoints}}" data-dtype="Number" />
    </div>
</div>
<div class="armour-right-arm-container">
    <div class="armour-component-name">
        right arm
    </div>
    <div class="armour-component-value">
        <input class="armour-component-value-box" name="data.armour.rightArm.armourPoints" type="number"
            value="{{actor.data.data.armour.rightArm.armourPoints}}" data-dtype="Number" />
    </div>
</div>
<div class="armour-left-arm-container">
    <div class="armour-component-name">
        left arm
    </div>
    <div class="armour-component-value">
        <input class="armour-component-value-box" name="data.armour.leftArm.armourPoints" type="number"
            value="{{actor.data.data.armour.leftArm.armourPoints}}" data-dtype="Number" />
    </div>
</div>
<div class="armour-body-container">
    <div class="armour-component-name">
        body
    </div>
    <div class="armour-component-value">
        <input class="armour-component-value-box" name="data.armour.body.armourPoints" type="number"
            value="{{actor.data.data.armour.body.armourPoints}}" data-dtype="Number" />
    </div>
</div>
<div class="armour-right-leg-container">
    <div class="armour-component-name">
        right leg
    </div>
    <div class="armour-component-value">
        <input class="armour-component-value-box" name="data.armour.rightLeg.armourPoints" type="number"
            value="{{actor.data.data.armour.rightLeg.armourPoints}}" data-dtype="Number" />
    </div>
</div>
<div class="armour-left-leg-container">
    <div class="armour-component-name">
        left leg
    </div>
    <div class="armour-component-value">
        <input class="armour-component-value-box" name="data.armour.leftLeg.armourPoints" type="number"
            value="{{actor.data.data.armour.leftLeg.armourPoints}}" data-dtype="Number" />
    </div>
</div>