<section>
    <table>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.playerName" }}
            </td>
            <td>
                <input name="data.marineDetails.playerName" type="text"
                    value="{{actor.data.data.marineDetails.playerName}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.chapter" }}
            </td>
            <td>
                <input name="data.marineDetails.chapter" type="text"
                    value="{{actor.data.data.marineDetails.chapter}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.pastEvent" }}
            </td>
            <td>
                <input name="data.marineDetails.pastEvent" type="text"
                    value="{{actor.data.data.marineDetails.pastEvent}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.chapterDemeanour" }}
            </td>
            <td>
                <input name="data.marineDetails.chapterDemeanour" type="text"
                    value="{{actor.data.data.marineDetails.chapterDemeanour}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.personalDemeanour" }}
            </td>
            <td>
                <input name="data.marineDetails.personalDemeanour" type="text"
                    value="{{actor.data.data.marineDetails.personalDemeanour}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.specialty" }}
            </td>
            <td>
                <input name="data.marineDetails.specialty" type="text"
                    value="{{actor.data.data.marineDetails.specialty}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.rank" }}
            </td>
            <td>
                <input name="data.marineDetails.rank" type="text"
                    value="{{actor.data.data.marineDetails.rank}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.powerArmourHistory" }}
            </td>
            <td>
                <input name="data.marineDetails.powerArmourHistory" type="text"
                    value="{{actor.data.data.marineDetails.powerArmourHistory}}" data-dtype="String" />
            </td>
        </tr>
        <tr>
            <td>
                {{ localize "deathwatch.marineDetails.description" }}
            </td>
            <td>
                <input name="data.marineDetails.description" type="text"
                    value="{{actor.data.data.marineDetails.description}}" data-dtype="String" />
            </td>
        </tr>
    </table>
</section>